﻿@charset "utf-8";
/* CSS Document */

html {overflow-y:scroll; margin:0px; padding:0px;}
html, body { width:100%;  height:100%; background-color:#FFFFFF;  background:url("../images/login_bg.gif")}
* { margin:0; padding:0;}


/** 레이아웃 **/
#wrap { min-width:100% }
.layout_wrap { table-layout:auto; width:100%;  height:100%; }


/* 로그인 상자 안의 로그인 폼 부분 */
.login_gnb { background:url("../images/login_bg.gif") repeat-x top left; width:100%; height:100%; position:relative; }
.login_title {float: left; margin:104px 0 0 62px; width:449px; height:127px; position:relative; }
.login_bar {float: left; background:url("../images/black_line.gif") repeat-x; margin:56px auto 0; width:100%; height:146px; position:relative; }
.login_bar ul {float: right; margin:20px 86px 0 0; width:418px; position:relative;list-style:none;}
.login_bar li login2 {float: left; width: 418px; top: 130px;  position: relative; }
.login2 dl { float: left; width: 260px; padding: 10px 0 0px 0; }
.login2 dt { float: left; width: 66px; padding: 2px 0 3px 0; }
.login2 dd { float: left; width: 160px; padding: 2px 0 3px 0;}
.login2 input { height: 18px; width: 180px; border: 1px solid #CCC; }
.login2 p {float: left; width: 152px; height: 50px;  padding: 10px 0 0px 0;}


/* 로그인 푸터 부분 */
.login_footer {padding: 75px 0 0 0; marg position: verticul-align:middle; text-align:center; relative; clear: both; } 