@charset "utf-8";
/* CSS Document */

/*기본*/
body{margin:0px; padding:0px; font-family:굴림; font-size:12px; color:#4b4b4b; letter-spacing:-1px;}
table, td, tr, th{font-family:굴림; font-size:12px; letter-spacing:-1px;}
div, ul, li, ol{padding:0px; margin:0px; list-style:none;}
input{margin:0px; padding:0px;}
img{border:0px;}
a{text-decoration:none; color:#fff;}
table a{color:#4b4b4b; text-decoration:underline;}
h1{ float:left; font-size:14px; margin:0 0 10px 0;}
h5{ float:left; font-size:11px; color:#bbb; font-weight:normal; margin:0 0 10px 5px; position:relative; top:3px;}
.box, option{border:1px solid #d9d9d9; background-color:#f6f6f6; color:#4b4b4b; font-size:12px;}
.button{border:#000 1px solid; background-color:#333; height:20px; font-size:12px; color:#FFF; padding-left:8px; padding-right:8px;cursor: pointer;}
.button2{border:#CE0606 1px solid; background-color:#F10505; height:20px; font-size:12px; color:#FFF; padding-left:8px; padding-right:8px;cursor: pointer;}
.button3{border:#30C 1px solid; background-color:#30F; height:20px; font-size:12px; color:#FFF; padding-left:8px; padding-right:8px;cursor: pointer;}

/*상단구성*/
.main{width:100%; height:70px; background:url(../images/top_bg.gif); position:fixed; top:0px; z-index:100;}
.main_title{padding:15px 0 0 15px;}

/*로그인정보*/
.login_info{ padding-right:20px; position: relative; top:-12px;}
.login_info li{float:right; font-size:11px; padding-right:3px; color:#988e90;}

/*상단메뉴, 현재위치*/
.top_menu{width:100%; height:49px; background:url(../images/top_menu_bg.gif); position:fixed; top:70px; z-index:100;}
.top_menu li{float:left; width:118px; height:43px; background:url(../images/top_menub.gif) no-repeat; text-align:center;  padding-top:16px; color:#FFF; font-weight:bold;}
.top_menu .select{float:left; width:118px; height:43px; background:url(../images/top_menua.gif) no-repeat; text-align:center;  padding-top:16px; color:#FFF; font-weight:bold;}
.position{ width:100%; height:31px;  background:url(../images/top_menu_bg2.gif); position:fixed; top:119px;  z-index:100;}
.position li{float:right; font-size:11px; color:#867e80; padding-right:5px; position:relative; top:8px; right:20px;}

/*레프트메뉴*/
.left{width:197px; position:fixed; top:117px; height:100%; max-height:5000px; background-color:#433d3e; border-right:1px solid #252020; z-index:100;}
.left_menu_top{background:url(../images/left_title_bg.gif); height:26px; padding:13px 0px 0px 47px; font-weight:bold; color:#ff1100;}
.left_menu li{ width:167px; border-bottom:1px solid #3b3636; font-weight:bold; color:#FFF; padding-left:30px; padding-top:8px; min-height:23px;}
.left_menu li img{position:relative; top:2px;}

/*다운메뉴*/
.left_menu ul{display:block;}
.left_menu li:hover{color:#ff1100;}
.left_menu ol:hover{color:#fe8e4b;}
.left_menu a{text-decoration:none; color:#ccc;}
.left_menu a:hover{color:#fe8e4b;}
#dropdown ul li:hover ul {display:block;}
.drop{font-size:11px; font-family:돋움; color:#CCC; z-index:200; padding-bottom:20px; padding-top:14px;}
.drop ol{ background:url(../images/left_menu_icon3.gif) no-repeat; height:16px; margin-left:17px; padding-left:10px;}

/*본문*/
.right{width:80%; margin:30px; position:absolute; left:197px; top:117px;}
.line{ clear:both; height:5px; background:url(../images/line_bg.gif); border:none;}
.cont2{margin-top:20px;}

.text_down{ position:relative; top:4px;}
.text_down2{ position:relative; top:2px;}

/*검색테이블 12px*/
.goods_table{ border-top:1px solid #b9b9b9; width:100%; margin-bottom:20px;}
caption{text-align:left; padding-bottom:8px; padding-top:10px;}
.goods_table th{ text-align:left; padding-left:13px; background-color:#f8f8f8; height:40px; border-bottom:1px solid #ededed; border-right:1px solid #ededed; color:#867e80;}
.goods_table td{border-bottom:1px solid #ededed; color:#4b4b4b; padding-left:10px;padding-right:10px; height:40px;}

.table_top{ padding-bottom:10px; padding-top:25px;}

.table_001{ width:80%; color:#999; font-size:11px;}
.table_001 li{float:left; padding-right:5px;}

.table_002{}
.table_002 li{float:left; padding-right:5px;}

.table_003{}
.table_003 li{float:left; padding-right:5px;}

/*검색결과td60px*/
.goods_table_02 { border-top:1px solid #b9b9b9; width:100%;}
.goods_table_02 th{font-size:11px; background-color:#f8f8f8; height:40px;  color:#867e80; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.goods_table_02 td{font-size:11px; height:30px; text-align:center; border-bottom:1px solid #ededed; border-right:1px solid #ededed; color:#4b4b4b; padding:5px;}

/*검색결과td40px*/
.goods_table_03 { border-top:1px solid #b9b9b9; width:100%; margin-top:20px;}
.goods_table_03 th{font-size:11px; background-color:#f8f8f8; height:40px;  color:#867e80; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.goods_table_03 td{font-size:11px; height:40px; text-align:center; border-bottom:1px solid #ededed; border-right:1px solid #ededed; color:#4b4b4b; padding:5px;}

/*검색결과td40px*/
.goods_table_04 { border-top:1px solid #b9b9b9; width:100%; margin-top:20px;}
.goods_table_04 th{font-size:11px; height:25px;  color:#867e80; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.goods_table_04 td{font-size:11px; height:25px; text-align:center; border-bottom:1px solid #ededed; border-right:1px solid #ededed; color:#4b4b4b; padding:5px;}

.new_write{width:100%; position:relative; top:10px; margin-bottom:20px; text-align:right;}
.new_write .bottom_btn{padding-bottom:15px;}
.new_write .bottom_btn li{float:left;}

/*페이지표시*/
.on{color:#F00; position:relative; bottom:6px; padding-right:2px;}
.off{color:#333; position:relative; bottom:6px; padding-right:2px;}
.centerUL a{color:#333;}
.centerUL a:hover{color:#666;}

div#centerDiv {width: width:100%; text-align: center; }
ul.centerUL {margin: 2px auto; line-height: 1.4;}
.centerUL li {display:inline; text-align:center; font-weight:bold;}

.file_input_div {position:relative; width:100px; height:20px;top:-3px; overflow: hidden;cursor: pointer;display: inline;}
.file_input_hidden {position:absolute;border:1px solid #cccccc; right:0px; top:0px; opacity:0; filter:alpha(opacity=0); -ms-filter:"alpha(opacity=0)"; -khtml-opacity:0; -moz-opacity:0;cursor: pointer;}