@charset "utf-8";
<!-- STYLE Sheet Start -->
<STYLE TYPE="text/css">
<!--
    BODY {
        font-size : 9pt;
        font-family : 굴림; }
    FONT {
        line-height : 16px;
        font-size : 9pt;
        font-family : 굴림; }

  TH {
    font-size : 9pt;
    font-weight: bold;
    font-family : 굴림; }

  TD {
    font-size : 9pt;
    font-family : 굴림; }

    INPUT, TEXTAREA, SELECT {
    border:0x
    solid black;
        font-size : 9pt;
        font-family : 굴림; }

    A:LINK, A:ACTIVE, A:VISITED {
        color: #003399;
        font-size: 9pt;
        text-decoration: none; }
    A:HOVER {
        text-decoration: underline;
        color: #3399ff; }
    H2 {
    font-size:11pt;
    font-family:굴림;
    text-decoration: underline; }
    SMALL {
    font-size:8pt;
    font-family:굴림; }

  .SOURCE {
    line-height : 16px;
    font-size : 12pt;
    font-family : Fixedsys;
    color: #1B057C;
    /*background-color: #1B057C;*/ }

-->
</STYLE>
<!-- STYLE Sheet End -->